.nav {
    width: 100vw;
    background-color: var(--dark);
    box-shadow: 0 0 15px black;
}

.navUl {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.link {
    display: block;
    padding: 40px;
    width: 100%;
    height: 100%;
    font-size: 25px;
    transition: 0.2s;
    text-decoration: none;
    color: var(--lighter);
}

li:hover {
    background-color: var(--medium);
}

.link:active {
    background-color: var(--dark);
    box-shadow: inset 1px 1px 4px black;
}

.navBtn {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: var(--dark);
    border-radius: 5px;
    padding: 10px;
    color: white;
    display: none;
    z-index: 2;
}

.autocompleteContainer{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
}

@media (max-width:700px) {
    .nav{
        position: absolute;
        translate: 0 -100%;
        box-shadow: 0 0 0 1000px transparent;
        transition: 0.5s;
        z-index: 1;        
    }
    .navUl {
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
    }

    .nav.show {
        translate: 0 0;
        box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.6), 0 0 15px black;
    }

    .navUl li {
        width: 100%;
        text-align: center;
    }

    .link {
        padding: 20px 0;
    }

    .navBtn {
        display: block;
    }
}